@font-face {
  font-family: 'Inter-SemiBold';
  src        : url('./Inter-SemiBold.ttf');
  /* IE9 Compat Modes */
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src        : url('./Inter-Medium.ttf');
  /* IE9 Compat Modes */
  font-weight: 600;
  font-style : normal;
}

@font-face {
  font-family: 'Inter';
  src        : url('./Inter-Regular.ttf');
  /* IE9 Compat Modes */
  font-weight: 500;
  font-style : normal;
}

@font-face {
  font-family: 'Inter-Light';
  src        : url('./Inter-Light.ttf');
  /* IE9 Compat Modes */
  font-weight: 400;
  font-style : normal;
}