build
node_modules
.npmrc
npm-debug.log*
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
package-lock.json
.idea
yarn.lock
yarn-error.log
packages/extension-ui/src/Popup/Home/AssetBlock-WithArrow-Backup.tsx
